In [16]:
import pandas as pd

df = pd.read_excel(r'C:\Users\u300286\Desktop\1.xlsx')
df

   NAME   ID  PREDICTED ACTUAL YYYY_MM_DD
0   Nir  215        100    400 2020-01-01
1   Nir  215        200    400 2020-01-02
2   Nir  215        100    400 2020-01-03
3   Nir  215        200    400 2020-01-04
4   Nir  215        100    400 2020-01-05
5   Nir  215        200    400 2020-01-06
6   Nir  215        100    400 2020-01-07
7   Nir  215        200    400 2020-01-08
8   Nir  215        100    400 2020-01-09
9   Nir  215        200    400 2020-01-10
10  Nir  215        100    400 2020-01-11
11  Nir  215        200    400 2020-01-12
12  Nir  215        100    400 2020-01-13
13  Nir  215        200    400 2020-01-14
14  Nir  215        100    400 2020-01-15
15  Nir  215        200    400 2020-01-16
16  Nir  215        100    400 2020-01-17
17  Nir  215        200    400 2020-01-18
18  Nir  215        100    400 2020-01-19
19  Nir  215        200    400 2020-01-20
20  Nir  215        100    400 2020-01-21
21  Nir  215        200    400 2020-01-22
22  Nir  215        100    400 2020-01-23
23  Nir  Nan        100    Nan 2020-01-24
24  Nir  Nan        100    Nan 2020-01-25
25  Nir  Nan        100    Nan 2020-01-26
26  Nir  Nan        100    Nan 2020-01-27
27  Nir  Nan        100    Nan 2020-01-28
28  Nir  Nan        100    Nan 2020-01-29
29  Nir  Nan        100    Nan 2020-01-30
30  Nir  Nan        100    Nan 2020-01-31
31  Xyc   40        800    500 2020-01-01
32  Xyc   40        100    500 2020-01-02
33  Xyc   40        100    500 2020-01-03
34  Xyc   40        100    500 2020-01-04

In [21]:
import pandas as pd
import numpy as np


df = pd.DataFrame({'Name':['Nir','Nir','Nir','Nir','Xyc','Xyc','Xyc'],'PREDICTED':[100,200,100,200,100,200,300],
                   'ACTUAL':[400,400,400,400,500,500,500],
                   'YYYY_MM_DD':['2020-01-01','2020-01-02','2020-01-03','2020-01-04','2020-01-01','2020-01-02','2020-01-03']})


def calculate(item):
    # select name
    data = df[df['Name'] == item]
    # calculate sum
    sum = data['PREDICTED'].sum()

    # remove NaN rows
    data = data.dropna()

    # calculate and insert  month to date column values
    month_to_date = []
    value = 0
    for index, row in data.iterrows():
        value += row['ACTUAL']
        month_to_date.append(value)

    data.insert(3, "MONTH_TO_DATE", month_to_date, True)

    # calculate and instert payout values
    conditions = [
        (data['MONTH_TO_DATE'] < sum),
        (data['MONTH_TO_DATE'] >= sum)
    ]
    choices = [0, ((data['ACTUAL'] - data['PREDICTED'])/100).astype(int)]
    data.insert(5, "PAYOUT", np.select(conditions, choices), True)

    return data


# collect results
results = pd.DataFrame(columns=['Name','PREDICTED','ACTUAL','MONTH_TO_DATE','YYYY_MM_DD','PAYOUT'])

for item in df['Name'].unique():
    df2 = calculate(item)
    results = results.append(df2)
    
results

  Name PREDICTED ACTUAL MONTH_TO_DATE  YYYY_MM_DD PAYOUT
0  Nir       100    400           400  2020-01-01      0
1  Nir       200    400           800  2020-01-02      2
2  Nir       100    400          1200  2020-01-03      3
3  Nir       200    400          1600  2020-01-04      2
4  Xyc       100    500           500  2020-01-01      0
5  Xyc       200    500          1000  2020-01-02      3
6  Xyc       300    500          1500  2020-01-03      2